/*!
 *  auth:  rwe
 */

.grid-ul {
	list-style: none;
}

.grid-table {
	white-space: nowrap;
	text-align: center;
}

.grid-table th{
	text-align: center;
}
.grid-footer-bar {
	position:inherit;
}

.grid-footer-bar-ul {
	list-style: none;
	height: 40px;
	margin: auto;
}

.grid-footer-item
 {
    white-space: nowrap;
    float: left;
	margin-right: 15px;
}

.grid-footer-item select {
    display: inline-block;
    width: auto;
}

.grid-footer-item.grid-footer-pagination {
	margin-top : 0.375em;
}

.grid-footer-item.grid-footer-timehint {
    margin-top : 0.375em;
}

.grid-footer-item label {
	margin-top: 0.5rem;
}

.grid-setting-body-fix {
	overflow-y: auto;
}

@media (min-height: 300px) {
    .grid-setting-body-fix {
       max-height: 220px;
    }
}

@media (min-height: 400px) {
	.grid-setting-body-fix {
	   max-height: 320px;
	}
}

@media (min-height: 680px) {
    .grid-setting-body-fix {
       max-height: 600px;
    }
}

@media (min-height: 800px) {
    .grid-setting-body-fix {
       max-height: 720px;
    }
}

@media (min-height: 1024px) {
    .grid-setting-body-fix {
       max-height: 920px;
    }
}
